In [1]:
from pyspark import SparkConf, SparkContext
from pyspark import StorageLevel
from pyspark.sql import SparkSession, Row
from pyspark.sql import types
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql.functions import *
import os

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
spark

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<pyspark.sql.session.SparkSession object at 0x7fc606ecc4c0>

In [3]:
spark

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<pyspark.sql.session.SparkSession object at 0x7fc606ecc4c0>

In [4]:
l = [('Alice', 12), ('Shiv', 23), ('Ram', 24), ('Sonu', 20)]
df1 = spark.createDataFrame(l, ["Name", "Age"])
df1.collect()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[Row(Name='Alice', Age=12), Row(Name='Shiv', Age=23), Row(Name='Ram', Age=24), Row(Name='Sonu', Age=20)]

In [5]:
path = "s3://shivchoudhury-datasets/CSV/College Data.csv"

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [6]:
df1.show(2,vertical=True)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

-RECORD 0-----
 Name | Alice
 Age  | 12
-RECORD 1-----
 Name | Shiv
 Age  | 23
only showing top 2 rows

In [7]:
data1 = [{"Name": "Shiv Ram", "Age": 24}]
df2 = spark.createDataFrame(data1)
df2.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---+--------+
|Age|    Name|
+---+--------+
| 24|Shiv Ram|
+---+--------+

In [8]:
rdd = sc.parallelize(l)
rdd.collect()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[('Alice', 12), ('Shiv', 23), ('Ram', 24), ('Sonu', 20)]

In [9]:
df3 = spark.createDataFrame(rdd)
df3.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----+---+
|   _1| _2|
+-----+---+
|Alice| 12|
| Shiv| 23|
|  Ram| 24|
| Sonu| 20|
+-----+---+

In [10]:
df4 = spark.createDataFrame(rdd, ["Name", "Age"])
df4.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----+---+
| Name|Age|
+-----+---+
|Alice| 12|
| Shiv| 23|
|  Ram| 24|
| Sonu| 20|
+-----+---+

In [11]:
Person = Row("Name", "Age")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [12]:
persons = rdd.map(lambda x: Person(*x))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [13]:
persons.collect()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[Row(Name='Alice', Age=12), Row(Name='Shiv', Age=23), Row(Name='Ram', Age=24), Row(Name='Sonu', Age=20)]

## read csv files

In [14]:
df = spark.read.csv(path, sep=',', header=True)
df.printSchema

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<bound method DataFrame.printSchema of DataFrame[College ID: string, Country: string, Total Students: string, Male: string, Female: string, CGPA: string, Annual Family Income: string, Branch: string, Sports: string, Research Papers Published: string, Placement Rate: string, Faculty Count: string]>

In [15]:
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students| Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002| 2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913| 9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644| 5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239| 7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
|College 61|     Canada|         10236|13339| -3103|8.5605665|             1921133|       Biotechnology| Athletics|                       34|            83.56|          310|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 5 rows

In [16]:
df = spark.read.format("csv").option("header", True).option("sep", ",").load(path)
print(df.printSchema(), end='\n\n')
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- College ID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Students: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Annual Family Income: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- Sports: string (nullable = true)
 |-- Research Papers Published: string (nullable = true)
 |-- Placement Rate: string (nullable = true)
 |-- Faculty Count: string (nullable = true)

None

+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students| Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002| 2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913| 9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644| 5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239| 7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
|College 61|     Canada|         10236|13339| -3103|8.5605665|             1921133|       Biotechnology| Athletics|                       34|            83.56|          310|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 5 rows

In [17]:
df = spark.read.option("header", True).option("sep", ",").csv(path)
print(df.printSchema(), end='\n\n')
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- College ID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Students: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Annual Family Income: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- Sports: string (nullable = true)
 |-- Research Papers Published: string (nullable = true)
 |-- Placement Rate: string (nullable = true)
 |-- Faculty Count: string (nullable = true)

None

+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students| Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002| 2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913| 9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644| 5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239| 7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
|College 61|     Canada|         10236|13339| -3103|8.5605665|             1921133|       Biotechnology| Athletics|                       34|            83.56|          310|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 5 rows

In [18]:
df = spark.read.options(header=True, sep=",").csv(path)
print(df.printSchema(), end='\n\n')
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- College ID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Students: string (nullable = true)
 |-- Male: string (nullable = true)
 |-- Female: string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Annual Family Income: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- Sports: string (nullable = true)
 |-- Research Papers Published: string (nullable = true)
 |-- Placement Rate: string (nullable = true)
 |-- Faculty Count: string (nullable = true)

None

+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students| Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002| 2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913| 9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644| 5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239| 7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
|College 61|     Canada|         10236|13339| -3103|8.5605665|             1921133|       Biotechnology| Athletics|                       34|            83.56|          310|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 5 rows

## read json files

In [19]:
schema = StructType([
    StructField("sepalLength", StringType(), True),
    StructField("sepalWidth", StringType(), True),
    StructField("petalLength", StringType(), True),
    StructField("petalWidth", StringType(), True),
    StructField("species", StringType(), True)
])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [20]:
df1 = spark.read.json("s3://shivchoudhury-datasets/JSON/iris.json", schema = schema)
df1.show(3)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+----------+-----------+----------+-------+
|sepalLength|sepalWidth|petalLength|petalWidth|species|
+-----------+----------+-----------+----------+-------+
|       null|      null|       null|      null|   null|
|        5.1|       3.5|        1.4|       0.2| setosa|
|        4.9|       3.0|        1.4|       0.2| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 3 rows

In [21]:
df2 = spark.read.format("json").option("header", True).option("schema", schema).load("s3://shivchoudhury-datasets/JSON/iris.json")
df2.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------------+-----------+----------+-----------+----------+-------+
|_corrupt_record|petalLength|petalWidth|sepalLength|sepalWidth|species|
+---------------+-----------+----------+-----------+----------+-------+
|              [|       null|      null|       null|      null|   null|
|           null|        1.4|       0.2|        5.1|       3.5| setosa|
|           null|        1.4|       0.2|        4.9|       3.0| setosa|
|           null|        1.3|       0.2|        4.7|       3.2| setosa|
|           null|        1.5|       0.2|        4.6|       3.1| setosa|
+---------------+-----------+----------+-----------+----------+-------+
only showing top 5 rows

In [22]:
df2.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- _corrupt_record: string (nullable = true)
 |-- petalLength: double (nullable = true)
 |-- petalWidth: double (nullable = true)
 |-- sepalLength: double (nullable = true)
 |-- sepalWidth: double (nullable = true)
 |-- species: string (nullable = true)

In [23]:
df2.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['_corrupt_record', 'petalLength', 'petalWidth', 'sepalLength', 'sepalWidth', 'species']

## createTempView

In [24]:
df1 = spark.read.format("csv").option("inferSchema", True).option("header", True).option("sep", ",").load(path)
df1.take(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[Row(College ID='College 52', Country='UK', Total Students=27002, Male=2593, Female=11644, CGPA=10.0, Annual Family Income=3574250, Branch='Physics', Sports='Swimming', Research Papers Published=39, Placement Rate=100.0, Faculty Count=655), Row(College ID='College 93', Country='Switzerland', Total Students=11913, Male=9392, Female=2521, CGPA=6.951278, Annual Family Income=762556, Branch='Chemical Engineering', Sports='Athletics', Research Papers Published=31, Placement Rate=68.83999999999999, Faculty Count=256), Row(College ID='College 15', Country='Japan', Total Students=15644, Male=5475, Female=4388, CGPA=9.3279225, Annual Family Income=1795845, Branch='Business Administration', Sports='Volleyball', Research Papers Published=37, Placement Rate=91.99000000000001, Faculty Count=555), Row(College ID='College 72', Country='Singapore', Total Students=13239, Male=7363, Female=5876, CGPA=8.6811115, Annual Family Income=1222223, Branch='Physics', Sports='Tennis', Research Papers Published=48, Placement Rate=97.98, Faculty Count=455), Row(College ID='College 61', Country='Canada', Total Students=10236, Male=13339, Female=-3103, CGPA=8.5605665, Annual Family Income=1921133, Branch='Biotechnology', Sports='Athletics', Research Papers Published=34, Placement Rate=83.56, Faculty Count=310)]

In [25]:
df1.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- College ID: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Total Students: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Female: integer (nullable = true)
 |-- CGPA: double (nullable = true)
 |-- Annual Family Income: integer (nullable = true)
 |-- Branch: string (nullable = true)
 |-- Sports: string (nullable = true)
 |-- Research Papers Published: integer (nullable = true)
 |-- Placement Rate: double (nullable = true)
 |-- Faculty Count: integer (nullable = true)

In [26]:
df1.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students| Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002| 2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913| 9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644| 5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239| 7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
|College 61|     Canada|         10236|13339| -3103|8.5605665|             1921133|       Biotechnology| Athletics|                       34|            83.56|          310|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 5 rows

In [27]:
df1.createOrReplaceTempView("college")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [28]:
spark.sql("select count(*) from college").collect()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[Row(count(1)=50000)]

In [29]:
spark.sql("select * from college limit 3").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students|Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002|2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913|9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644|5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+

In [30]:
df1.selectExpr("`College ID`", "cast(`Total Students` as int)").show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+--------------+
|College ID|Total Students|
+----------+--------------+
|College 52|         27002|
|College 93|         11913|
|College 15|         15644|
|College 72|         13239|
|College 61|         10236|
+----------+--------------+
only showing top 5 rows

In [31]:
print(df1.describe())

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[summary: string, College ID: string, Country: string, Total Students: string, Male: string, Female: string, CGPA: string, Annual Family Income: string, Branch: string, Sports: string, Research Papers Published: string, Placement Rate: string, Faculty Count: string]

In [32]:
sch = StructType([
    StructField("College ID", StringType(), True),
    StructField("Country", StringType(), True),
    StructField("Total Students", IntegerType(), True),
    StructField("Male", IntegerType(), True),
    StructField("Female", IntegerType(), True),
    StructField("CGPA", DoubleType(), True),
    StructField("Annual Family Income", IntegerType(), True),
    StructField("Branch", StringType(), True),
    StructField("Sports", StringType(), True),
    StructField("Research Papers Published", IntegerType(), True),
    StructField("Placement Rate", DoubleType(), True),
    StructField("Faculty Count", IntegerType(), True)
])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [33]:
df2 = spark.read.format("csv").option("inferSchema", True).option("header", True).option("sep", ",").option("schema", sch).load(path)
df2.take(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

[Row(College ID='College 52', Country='UK', Total Students=27002, Male=2593, Female=11644, CGPA=10.0, Annual Family Income=3574250, Branch='Physics', Sports='Swimming', Research Papers Published=39, Placement Rate=100.0, Faculty Count=655), Row(College ID='College 93', Country='Switzerland', Total Students=11913, Male=9392, Female=2521, CGPA=6.951278, Annual Family Income=762556, Branch='Chemical Engineering', Sports='Athletics', Research Papers Published=31, Placement Rate=68.83999999999999, Faculty Count=256), Row(College ID='College 15', Country='Japan', Total Students=15644, Male=5475, Female=4388, CGPA=9.3279225, Annual Family Income=1795845, Branch='Business Administration', Sports='Volleyball', Research Papers Published=37, Placement Rate=91.99000000000001, Faculty Count=555), Row(College ID='College 72', Country='Singapore', Total Students=13239, Male=7363, Female=5876, CGPA=8.6811115, Annual Family Income=1222223, Branch='Physics', Sports='Tennis', Research Papers Published=48, Placement Rate=97.98, Faculty Count=455), Row(College ID='College 61', Country='Canada', Total Students=10236, Male=13339, Female=-3103, CGPA=8.5605665, Annual Family Income=1921133, Branch='Biotechnology', Sports='Athletics', Research Papers Published=34, Placement Rate=83.56, Faculty Count=310)]

In [34]:
df2.show(4)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students|Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002|2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913|9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644|5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239|7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 4 rows

In [35]:
df3 = df2.orderBy(col('College ID').asc_nulls_last())

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [36]:
df3.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+----+------+-----------------+--------------------+--------------------+----------+-------------------------+------------------+-------------+
|College ID|    Country|Total Students|Male|Female|             CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|    Placement Rate|Faculty Count|
+----------+-----------+--------------+----+------+-----------------+--------------------+--------------------+----------+-------------------------+------------------+-------------+
| College 1|      China|         24564|9056|  4980|9.802976000000001|             2685952|           Economics|Basketball|                       18|             93.82|          468|
| College 1|  Singapore|         29549|2941|  9519|7.230817500000001|              661635|             Physics|  Swimming|                        4|63.449999999999996|          439|
| College 1|      India|         27869|2345| 11541|         6.603773|              447546|Chemical Engineering|  Swimming|                       33|             84.99|          645|
| College 1|      India|          2280|2066|   214|8.737012499999999|             4614025|Chemical Engineering|Volleyball|                       13|             78.96|          506|
| College 1|Switzerland|         19764| 791|  1249|        8.0058765|              811753|    Computer Science| Badminton|                       20|             100.0|          572|
+----------+-----------+--------------+----+------+-----------------+--------------------+--------------------+----------+-------------------------+------------------+-------------+
only showing top 5 rows

In [37]:
df3.withColumn("Montly Income", expr('`Annual Family Income` / 12')).show(4)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+---------+--------------+----+------+-----------------+--------------------+--------------------+----------+-------------------------+--------------+-------------+------------------+
|College ID|  Country|Total Students|Male|Female|             CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|Placement Rate|Faculty Count|     Montly Income|
+----------+---------+--------------+----+------+-----------------+--------------------+--------------------+----------+-------------------------+--------------+-------------+------------------+
| College 1|    China|         24564|9056|  4980|9.802976000000001|             2685952|           Economics|Basketball|                       18|         93.82|          468|223829.33333333334|
| College 1|    India|         27869|2345| 11541|         6.603773|              447546|Chemical Engineering|  Swimming|                       33|         84.99|          645|           37295.5|
| College 1|Singapore|          9542|4890|  4652|        9.3798705|             2339741|Electrical Engine...|     Chess|                       32|         64.29|          493|194978.41666666666|
| College 1|    India|          2280|2066|   214|8.737012499999999|             4614025|Chemical Engineering|Volleyball|                       13|         78.96|          506| 384502.0833333333|
+----------+---------+--------------+----+------+-----------------+--------------------+--------------------+----------+-------------------------+--------------+-------------+------------------+
only showing top 4 rows

In [38]:
df2.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students| Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002| 2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913| 9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644| 5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239| 7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
|College 61|     Canada|         10236|13339| -3103|8.5605665|             1921133|       Biotechnology| Athletics|                       34|            83.56|          310|
+----------+-----------+--------------+-----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 5 rows

In [39]:
df2.withColumnRenamed("College ID", "College_ID").show(4)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College_ID|    Country|Total Students|Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002|2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913|9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644|5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
|College 72|  Singapore|         13239|7363|  5876|8.6811115|             1222223|             Physics|    Tennis|                       48|            97.98|          455|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 4 rows

In [40]:
df.show(3)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College ID|    Country|Total Students|Male|Female|     CGPA|Annual Family Income|              Branch|    Sports|Research Papers Published|   Placement Rate|Faculty Count|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
|College 52|         UK|         27002|2593| 11644|     10.0|             3574250|             Physics|  Swimming|                       39|            100.0|          655|
|College 93|Switzerland|         11913|9392|  2521| 6.951278|              762556|Chemical Engineering| Athletics|                       31|68.83999999999999|          256|
|College 15|      Japan|         15644|5475|  4388|9.3279225|             1795845|Business Administ...|Volleyball|                       37|91.99000000000001|          555|
+----------+-----------+--------------+----+------+---------+--------------------+--------------------+----------+-------------------------+-----------------+-------------+
only showing top 3 rows

## col, column, lit, broadcast

In [41]:
df2.select(col('College ID').alias('College_ID'), column('Country'), col('Total Students'), lit('literal').alias('Literal')).show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------+-----------+--------------+-------+
| College_ID|    Country|Total Students|Literal|
+-----------+-----------+--------------+-------+
| College 52|         UK|         27002|literal|
| College 93|Switzerland|         11913|literal|
| College 15|      Japan|         15644|literal|
| College 72|  Singapore|         13239|literal|
| College 61|     Canada|         10236|literal|
| College 21|        USA|         22804|literal|
| College 83|         UK|          8135|literal|
| College 87|      China|         27548|literal|
| College 75|  Singapore|         12794|literal|
| College 75|      China|         23999|literal|
| College 88|  Australia|          3850|literal|
|College 100|      Japan|          2873|literal|
| College 24|      Japan|          7904|literal|
|  College 3|Switzerland|         25589|literal|
| College 22|     Canada|          6717|literal|
| College 53|  Australia|          9806|literal|
|  College 2|         UK|          3269|literal|
| College 88|  Singapore|         22168|literal|
| College 30|      India|         23219|literal|
| College 38|      Japan|          4549|literal|
+-----------+-----------+--------------+-------+
only showing top 20 rows

In [42]:
df = spark.createDataFrame([1, 2, 3, 3, 4], types.IntegerType())
df_small = spark.range(3)
df_b = broadcast(df_small)
df.join(df_b, df.value == df_small.id).show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----+---+
|value| id|
+-----+---+
|    1|  1|
|    2|  2|
+-----+---+

## coalesce

In [43]:
cDf = spark.createDataFrame([(None, None), (1, None), (None, 2), (3, 4), (5, None), (None, 4)], ("a", "b"))
# print(cDf.show(), end='\n\n')
cDf.select(coalesce(cDf["a"], cDf["b"]).alias('coalesce')).show()
cDf.select(coalesce(cDf["a"], cDf["b"], lit('N/A')).alias('coalesce')).show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------+
|coalesce|
+--------+
|    null|
|       1|
|       2|
|       3|
|       5|
|       4|
+--------+

+--------+
|coalesce|
+--------+
|     N/A|
|       1|
|       2|
|       3|
|       5|
|       4|
+--------+

## Glue DataCatalog Hive

In [44]:
spark.sql("CREATE DATABASE IF NOT EXISTS hive")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

DataFrame[]

In [45]:
df1.write.mode("overwrite").saveAsTable("hive.my_hive_table")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

## ArrayType

In [46]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType
from pyspark.sql.functions import col, array, explode, split

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [47]:
data = [('abc', [1, 2]), ('mno', [4, 5]), ('xyz', [7, 8])]
df = spark.createDataFrame(data, ['id', 'numbers'])
df.show(5)
df.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|mno| [4, 5]|
|xyz| [7, 8]|
+---+-------+

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [48]:
sch = StructType([StructField('id', StringType()), StructField('numbers', ArrayType(IntegerType()))])
df = spark.createDataFrame(data, schema=sch)
df.show(5)
df.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|mno| [4, 5]|
|xyz| [7, 8]|
+---+-------+

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [ ]:
df = spark.createDataFrame([(1, 2), (3, 4)], ['n1', 'n2'])
df.show()
df.withColumn('n3', array(col('n1'), col('n2'))).show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [ ]:
data = [('abc', [1, 2, 9]), ('mno', [4, 5, 9]), ('xyz', [7, 8, 9])]
sch = StructType([StructField('id', StringType()), StructField('numbers', ArrayType(IntegerType()))])
df = spark.createDataFrame(data, schema=sch)
df.show(5)
df.printSchema()

In [ ]:
data = [(1, 'Shiv Ram', ['C#', 'C++']), (2, 'Sonu', ['Python', 'AWS']), (3, 'Surbhi', ['Azure', 'Databricks'])]
sch = ['id', 'name', 'skills']
df = spark.createDataFrame(data, schema=sch)
df.show()
df.printSchema()
df.withColumn('skill', explode(col('skills'))).show()

In [ ]:
data = [(1, 'Shiv Ram', 'C#,C++'), (2, 'Sonu', 'Python,AWS'), (3, 'Surbhi', 'Azure,Databricks')]
sch = ['id', 'name', 'skills']
df = spark.createDataFrame(data, schema=sch)
df.show()
df.printSchema()
df = df.withColumn('skill', split(col('skills'), ','))
df.show()
df.printSchema()

In [ ]:
df = df.withColumn('HasPythonSkill', array_contains(col('skill'), 'Python'))
df.show()
df.printSchema()

## MapType

In [ ]:
data = [('maheer', {'hair': 'black', 'eye': 'brown'}), ('wafa', {'hair': 'black', 'eye': 'bue'})]
schema = ['name', 'properties']
df = spark.createDataFrame(data, schema)
df.show(truncate=False, vertical=False)
df.printSchema()

In [ ]:
data = [('maheer', {'hair': 'black', 'eye': 'brown'}), ('wafa', {'hair': 'black', 'eye': 'bue'})]
schema = StructType([StructField('name', StringType()), StructField('properties', MapType(StringType(), StringType()))])
df = spark.createDataFrame(data, schema)
df.show(truncate=False, vertical=False)
df.printSchema()

In [ ]:
df = df.withColumn('hair', df.properties['hair']).withColumn('eye', df.properties.getItem('eye'))
df.show(truncate=False)

In [ ]:
df = df.select('name', 'properties', explode(df.properties))
df.show(truncate=False)

In [ ]:
df.withColumn('keys', map_keys(df.properties)).withColumn('values', map_values(df.properties)).withColumn('val', explode(col('values'))).show()

## Row

In [ ]:
r1 = Row(name='Shiv', salary=2000)
r2 = Row(name='Sonu', salary=3000)
spark.createDataFrame([r1, r2]).show()

In [ ]:
Person = Row('name', 'salry')
p1 = Person('Shiv', 2000)
p2 = Person('Sonu', 3000)
spark.createDataFrame([p1, p2]).show()

In [ ]:
data = [Row(name='Shiv Ram', prop = Row(age = 23, gender = 'male')), Row(name = 'Sonu', prop = Row(age = 24, gender = 'female'))]
spark.createDataFrame(data).show()

## when & otherwise

In [ ]:
data = [(1, 'Shiv', 'M', 2000), (2, 'Ram', 'M', 2000), (3, 'Sonu', '', 3000), (4, 'Rashi', 'F', 9000)]
schema = ['id', 'name', 'gender', 'salary']
df = spark.createDataFrame(data, schema = schema)
df.show()

In [ ]:
df1 = df.select(df.id, df.name, when(condition=df.gender=='M', value='Male').when(condition=df.gender=='F', value='Female').otherwise('Unknown').alias('Gender'), df.salary)
df1.show()

## alias, asc, desc, cast, like

In [ ]:
data = [(1, 'Shiv', 'M', 2000), (2, 'Ram', 'M', 2000), (3, 'Sonu', '', 3000), (4, 'Rashi', 'F', 9000)]
schema = ['id', 'name', 'gender', 'salary']
df = spark.createDataFrame(data, schema = schema)
df.show()

In [ ]:
df.select(df.id.alias('ID'), df.name.alias('NAME'), df.gender.alias('GENDER'), df.salary.alias('SALARY')).show()

In [ ]:
df.sort(df.name.asc()).show()

In [ ]:
df.sort(df.name.desc()).show()

In [ ]:
df.select(df.id, df.name, df.gender, df.salary.cast('int')).printSchema()

In [ ]:
df.filter(df.name.like('R%')).show()

## filter & where

In [ ]:
data = [(1, 'Shiv', 'M', 2000), (2, 'Ram', 'M', 2500), (3, 'Sonu', '', 3000), (4, 'Rashi', 'F', 9000)]
schema = ['id', 'name', 'gender', 'salary']
df = spark.createDataFrame(data, schema = schema)
df.show()

In [ ]:
df.where(df.salary >= 2500).show()

In [ ]:
df.filter(df.salary <= 2500).show()

In [ ]:
df.filter((df.salary >= 2500) & (df.gender == 'F')).show()

## distinct & dropDuplicates

In [ ]:
df.distinct().show()

In [ ]:
df.dropDuplicates(['gender']).show()

In [ ]:
df.show()

## sort & orderBy

In [ ]:
data = [(1, 'Shiv', 'M', 2000, 'HR'), (2, 'Ram', 'M', 2500, 'CBO'), (3, 'Sonu', 'M', 3000, 'CNM'), (4, 'Rashi', 'F', 9000, 'EP'), (5, 'Ritika', 'F', 4000, 'AMC')]
schema = ['id', 'name', 'gender', 'salary', 'department']
df = spark.createDataFrame(data, schema = schema)
df.show()

In [ ]:
df.sort('name', df.department).show()

In [ ]:
df.orderBy(df.name.desc(), df.department).show()

In [ ]:
df1 = df

In [ ]:
df1.show()
df.show()

In [ ]:
df1.unionAll(df).show()

In [ ]:
df1.union(df).show()

## groupBy

In [ ]:
df = spark.read.csv(path, sep=',', header=True, inferSchema=True)
df.printSchema()

In [ ]:
df.describe()

In [ ]:
df.show(4)

In [ ]:
# df.dropDuplicates(df.Branch)
df.dropDuplicates(['Branch']).select('Branch').show(50,truncate=False)

In [ ]:
df.groupBy(df.Branch).count().show(truncate=False)
df.groupBy(df.Branch).min('Annual Family Income').show(truncate=False)
df.groupBy(df.Branch).max('Annual Family Income').show(truncate=False)

## agg

In [ ]:
df.groupBy(df.Branch).agg(count('*').alias('COUNT'), min('Annual Family Income').alias('Min Annual Family Income'), max('Annual Family Income').alias('Max Annual Family Income')).show(truncate=False)

## unionByName

In [ ]:
data1 = [(1, 'Shiv', 'M', 2000, 'HR'), (2, 'Ram', 'M', 2500, 'CBO'), (3, 'Sonu', 'M', 3000, 'CNM'), (4, 'Rashi', 'F', 9000, 'EP'), (5, 'Ritika', 'F', 4000, 'AMC')]
schema1 = ['id', 'name', 'gender', 'salary', 'department']
df1 = spark.createDataFrame(data1, schema = schema1)
df1.show()

data2 = [(1, 'Shiv', 'M', 2000), (2, 'Ram', 'M', 2500), (3, 'Sonu', 'M', 3000), (4, 'Rashi', 'F', 9000), (5, 'Ritika', 'F', 4000)]
schema2 = ['id', 'name', 'gender', 'salary']
df2 = spark.createDataFrame(data2, schema = schema2)
df2.show()

In [ ]:
df1.unionByName(df2, allowMissingColumns=True).show()

## Joins

In [ ]:
data1 = [(1, 'Maheer', 2000, 2), (2, 'Wafa', 3000, 1), (3, 'Sonu', 1000, 4)]
sch1 = ['id', 'name', 'salary', 'dep']

data2 = [(1, 'IT'), (2, 'HR'), (3, 'Payroll')]
sch2 = ['id', 'name']

empDF = spark.createDataFrame(data1, sch1)
depDF = spark.createDataFrame(data2, sch2)
empDF.show()
depDF.show()

empDF.join(depDF, empDF.dep == depDF.id, 'inner').show()
empDF.join(depDF, empDF.dep == depDF.id, 'left').show()
empDF.join(depDF, empDF.dep == depDF.id, 'right').show()
empDF.join(depDF, empDF.dep == depDF.id, 'full').show()

In [ ]:
empDF.join(depDF, empDF.dep == depDF.id, 'left').show()
empDF.join(depDF, empDF.dep == depDF.id, 'leftsemi').show()
empDF.join(depDF, empDF.dep == depDF.id, 'leftanti').show()

In [ ]:
data = [(1, 'Maheer', 0), (2, 'Wafa', 1), (3, 'Shiv', 2)]
sch = ['id', 'name', 'managerId']

df1 = spark.createDataFrame(data, sch)

df1.alias('emp').join(df1.alias('manager'), col('emp.managerId') == col('manager.id'), 'left').select(col('emp.name').alias('empName'), col('manager.name').alias('managerName')).show()

## pivot & unpivot

In [ ]:
data = [(1, 'Maheer', 'Male', 'IT'), (2, 'Wafa', 'Male', 'IT'), (3, 'Ritika', 'Female', 'HR'), (4, 'Rashi', 'Female', 'IT'), (5, 'Shweta', 'Female', 'IT'), (6, 'Sonu', 'Male', 'HR'), (7, 'Shiv', 'Male', 'HR'), (8, 'Ram', 'Female', 'IT')]
schema = ['id', 'name', 'gender', 'dep']

df = spark.createDataFrame(data, schema)
# df.show()

df.groupBy('dep').pivot('gender').count().show()
df.groupBy('dep').pivot('gender', ['Male', 'Female']).agg(count('*')).show()

In [ ]:
data = [('IT', 8, 5), ('Payroll', 3, 2), ('HR', 2, 4)]
schema = ['dep', 'male', 'female']
df = spark.createDataFrame(data, schema)
df.show()

# df.select('dep', expr("stack(2, 'Male', 'male', 'Female', 'female') as (gender, count)")).show()

df.select('dep', expr("stack(2, 'Male', male, 'Female', female) as (gender, count)")).show() # unpivot

## fill & fillna

In [ ]:
data = [(1, 'Maheer', 'male', 1000, None), (2, 'Asi', 'Female', 2000, 'IT'), (3, 'Shiv', None, 1000, 'HR')]
schema = ['id', 'name', 'gender', 'salary', 'dep']

df = spark.createDataFrame(data, schema)
df.show()
df.na.fill('unknown', ['gender']).show()
df.fillna('unknown', ['dep']).show()
df.fillna('unknown').show()

## sample

In [ ]:
df = spark.range(start = 1, end = 101)
df1 = df.sample(fraction = 0.1, seed = 123)
df2 = df.sample(fraction = 0.1, seed = 123)

df.show()
df1.show()
df2.show()

## transform

In [ ]:
data = [(1, 'Maheer', 2000), (2, 'Wafa', 3000)]
schema = ['id', 'name', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

def convertToUpper(df):
    return df.withColumn('name', upper(df.name))

def doubleTheSalary(df):
    return df.withColumn('salary', df.salary * 2)

df1 = df.transform(convertToUpper).transform(doubleTheSalary)
df1.show()

In [ ]:
data = [(1, 'Maheer', ['azure', 'dotnet']), (2, 'Wafa', ['aws', 'java'])]
schema = ['id', 'name', 'skills']
df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

df.select('id', 'name', transform('skills', lambda x: upper(x)).alias('skills')).show()

def convertToUpper1(x): return upper(x)

df.select(transform('skills', convertToUpper1).alias('skills')).show()

## createOrReplaceTempView & createOrReplaceGlobalTempView

In [ ]:
df = spark.read.csv(path, sep=',', header=True)
df.printSchema()

In [ ]:
df.show(5)

In [ ]:
df.createOrReplaceTempView('college')

In [ ]:
spark.sql('select * from college limit 1').show(truncate=False, vertical=True);

In [ ]:
df.createOrReplaceGlobalTempView('college')

In [ ]:
spark.catalog.currentDatabase()

In [ ]:
spark.catalog.listTables()

In [ ]:
spark.catalog.listTables(spark.catalog.currentDatabase())

In [ ]:
spark.catalog.listTables('global_temp')

In [ ]:
spark.catalog.dropTempView('college')

## UDF -> User Defined Functions

In [ ]:
data = [(1, 'Maheer', 2000, 500), (2, 'Wafa', 4000, 1000)]
schema = ['id', 'name', 'salary', 'bonus']

df = spark.createDataFrame(data, schema)
df.show()

def totalPay(s, b): return s + b

TotalPay = udf(lambda x, y: totalPay(x, y), IntegerType())

df.select('*', TotalPay(col('salary'), col('bonus')).alias('totalPay')).show()
df.withColumn('totalPay', TotalPay(df.salary, df.bonus)).show()

In [ ]:
spark.udf.register(name='TotalPay', f=totalPay, returnType=IntegerType())

In [ ]:
df.createOrReplaceTempView('df')

In [ ]:
spark.sql('select *, TotalPay(`salary`, `bonus`) as totalPay from df').show(2)

In [ ]:
data = [(1, 'Maheer', 2000, 500), (2, 'Wafa', 4000, 1000)]
schema = ['id', 'name', 'salary', 'bonus']

df = spark.createDataFrame(data, schema)
df.show()
@udf(returnType=IntegerType())
def totalPay(s, b):
    return s + b
df.select('*', TotalPay(col('salary'), col('bonus')).alias('totalPay')).show()
df.withColumn('totalPay', TotalPay(df.salary, df.bonus)).show()

## map & toDF

In [ ]:
data = [('Shiv Ram', 'Choudhury'), ('Sonu', 'Choudhury')]
r1 = spark.sparkContext.parallelize(data)
r2 = r1.map(lambda x: x + (x[0] + ' ' + x[1],))
r2.collect()

In [ ]:
def fullname(x): return x + (x[0] + ' ' + x[1],)

In [ ]:
df = spark.createDataFrame(data, ['fn', 'ln'])
r3 = df.rdd.map(lambda x: fullname(x))
r3.collect()
df1 = r3.toDF(['fn', 'ln', 'fullname'])
df1.collect()

In [ ]:
df = spark.createDataFrame(data, ['fn', 'ln'])
r3 = df.rdd.map(lambda x: x + (x[0] + ' ' + x[1],))
df1 = r3.toDF(['fn', 'ln', 'fullname'])
df1.collect()

## flatMap()

In [ ]:
data = ['Shiv Ram', 'Sonu Chodhury']
r1 = spark.sparkContext.parallelize(data)
for item in r1.collect():
    print(item)

print()
r2 = r1.map(lambda x: x.split(' '))
for item in r2.collect():
    print(item)

print()
r3 = r1.flatMap(lambda x: x.split(' '))
for item in r3.collect():
    print(item)

## partitionBy

In [ ]:
df = spark.read.csv(path, sep=',', header=True)
df.printSchema()

In [ ]:
df.write.parquet("s3://shivchoudhury-datasets/csv_output/college", mode='overwrite', partitionBy='Country')

In [ ]:
df.write.option("header", True).partitionBy("Country").mode("overwrite").csv("s3://shivchoudhury-datasets/csv_output/college1")

In [ ]:
spark.read.parquet('s3://shivchoudhury-datasets/csv_output/college/Country=Australia').printSchema()

## from_json

In [ ]:
data = [('Shiv', '{"hair": "black", "eye": "brown"}')]
schema = ['name', 'props']
df = spark.createDataFrame(data, schema)
df.show(truncate = False)
df.printSchema()

In [ ]:
df1 = df.withColumn('propsMap', from_json(df.props, MapType(StringType(), StringType())))
df1.show(truncate = False)
df1.printSchema()
df1.show()

In [ ]:
df2 = df1.withColumn('eye', df1.propsMap.eye)
df2.show(truncate=False)

In [ ]:
data = [('Shiv Ram', {'hair': 'black', 'eye': 'brown'})]
schema = ['name', 'properties']

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

df1 = df.withColumn('prop', to_json(df.properties))
df1.show(truncate=False)
df1.printSchema()

## json_tuple()

In [ ]:
data = [('Shiv Ram', '{"hair": "black", "eye": "brown", "skin": "brown"}'), ("Anurag", '{"hair": "black", "eye": "blue", "skin": "white"}')]
schema = ["name", "props"]

df = spark.createDataFrame(data, schema)
df.show(truncate=False)
df.printSchema()
df2 = df.select(df.name, json_tuple(df.props, 'hair', 'skin').alias('hair', 'skin'))
df2.show()

## get_json_object()

In [ ]:
data = [('Shiv Ram', '{"address": {"city": "hyd", "state": "telangana"}, "gender": "male"}'), ('Ram', '{"address": {"city": "bangalore", "state": "karnataka"}, "eye": "blue"}')]
schema = ['name', 'props']
df = spark.createDataFrame(data, schema)
df.show(truncate=False)
df.printSchema()

df1 = df.select('name', get_json_object('props', '$.address.city').alias('city')).show(truncate=False)

## Date Functions

In [ ]:
df = spark.range(2)
df.show()

In [ ]:
df1 = df.withColumn('currentDate', current_date())
df1.show()
df1.printSchema()

In [ ]:
df1.withColumn('currentDate', date_format(current_date(), 'MM.dd.yyyy')).show()

In [ ]:
df1.withColumn('currentDate', date_format(current_date(), 'MM.dd.yyyy')).withColumn('newDateCol', to_date(lit('05-02-2025'), 'dd-MM-yyyy')).show()

In [ ]:
df = spark.createDataFrame([('2025-02-05', '2025-01-15')], ['d1', 'd2'])

df.withColumn('diff', datediff(df.d2, df.d1)) \
    .withColumn('monthBetween', months_between(df.d2, df.d1)) \
    .withColumn('addMonths', add_months(df.d2, 4)) \
    .withColumn('subMonths', add_months(df.d2, -4)) \
    .withColumn('addDate', date_add(df.d2, 4)) \
    .withColumn('subDate', date_add(df.d2, -4)) \
    .withColumn('year', year(df.d2)) \
    .withColumn('month', month(df.d2)).show()

## Timestamp Functions

In [ ]:
df = spark.range(1)
df.show()

df1 = df.withColumn('timestamp', current_timestamp())
df1.show(truncate = False)
df1.printSchema()

In [ ]:
df2 = df1.withColumn('toTimestamp', to_timestamp(lit('25.12.2022 06.10.13'), 'dd.MM.yyyy HH.mm.ss'))
df2.show(truncate = False)
df2.printSchema()

In [ ]:
df2.select('id', 'timestamp', \
           hour(current_timestamp()).alias('hour'), \
           minute(current_timestamp()).alias('minute'), \
           second(current_timestamp()).alias('second')).show(truncate=False)

## Aggregation

In [ ]:
data = [('Shiv', 'HR', 1500), ('Ram', 'IT', 3000), ('Asi', 'HR', 1500)]
schema = ['employee_name', 'department', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

In [ ]:
df.select(approx_count_distinct('salary').alias('approx_count_distinct'), \
         avg('salary').alias('avg_salary'), \
         collect_list('salary').alias('collect_list'), \
         collect_set('salary').alias('collect_set'), \
         countDistinct('salary').alias('distinct_count_salary'), \
         count('salary').alias('count_salary')).show()

## Ranking Functions

In [ ]:
data = [
    ('Shiv Ram', 'IT', 25000),
    ('Ram', 'HR', 23000),
    ('Shiv', 'HR', 20000),
    ('Sonu', 'RESEARCH', 25000),
    ('Anurag', 'IT', 30000),
    ('Keerti', 'RESEARCH', 17000),
    ('Surbhi', 'RESEARCH', 27000)]
schema = ['name', 'dep', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

In [ ]:
df.sort('dep').show()

In [ ]:
window = Window.partitionBy('dep').orderBy('salary')

In [ ]:
df.withColumn('rowNumber', row_number().over(window)).withColumn('rank', rank().over(window)).withColumn('dense_rank', dense_rank().over(window)).show()